*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

body{
    background-image: url(background/pic.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-top: 50px;
    padding-left: 150px;
    width: 60vw;
    height: 120vh;
    margin-left: 4em;
}

.prompt{
    padding-left: 30px;
    display: grid;
}

.quiz{
    display: grid;
    /* grid-template-rows: 60px auto; */
    padding: 10px 30px;
    width: 1000px;
    height: 500px;
    border-radius: 50px;
}

.body_image{
    display: grid;
    /* grid-template-rows: 60px auto; */
    padding-left: 30px;
    padding-top: 150px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.quiz_header{
    display: flex;
    padding: 20px 30px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    justify-content: space-between;
    /* border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; */
    background-color: #62c3d2;
    /* box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1); */
    /* z-index: 1; */
}

/* #62c3d2 */

.quiz_user{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
}

.quiz_body{
    padding: 20px 30px;
    background-color: rgb(235, 237, 236);
}

.quiz_all{
    /* padding: 20px 30px; */
    background-color: rgb(235, 237, 236);
    width: 700px;
    height: 500px;
}

.option_group{
    padding-left: 20px;
    padding-top: 30px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 40px;
    /* margin: 30px 0; */
}

.option{
    /* display: block; */
    display: inline-block;
    width: 150px;
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
    vertical-align: middle;
}

.option_static{
    /* display: block; */
    display: inline-block;
    width: 150px;
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
    vertical-align: middle;
}

.option_select{
    /* display: block; */
    display: inline-block;
    width: 150px;
    background-color: greenyellow;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
    vertical-align: middle;
}

.option:hover{
    cursor: pointer;
    border: 2px solid #341f97;
    color: #341f97;
}

.option.active{
    background-color: #341f97;
    color: #fff;
}

.next-button{
    display: inline;
}

.btn-back{
    display: inline-block;
    border: none;
    padding: 15px 60px;
    background-color: #b9c2c6;
    color: rgb(82, 82, 72);
    border-radius: 20px;
    transition: 0.4s all;
    margin-left: 10px;
}
.btn-back:hover{
    cursor: pointer;
    background-color: rgb(255, 95, 47);
    color: #000;
}


.btn-next{
    display: inline-block;
    border: none;
    padding: 15px 35px;
    background-color: #62c3d2;
    color: #fff;
    border-radius: 20px;
    transition: 0.4s all;
    margin-left: 300px;
}

.btn-next:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: #000;
}


.btn-start{
    display: inline-block;
    border: none;
    padding: 15px 35px;
    background-color: #62c3d2;
    color: #fff;
    border-radius: 20px;
    transition: 0.4s all;
    margin-left: 500px;
}

.btn-start:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: #000;
}

.award_icon{
    display: block;
    font-size: 300px;
    color: #fff;
}

.username, .userpoints{
    color: rgb(4, 4, 4);
    /* text-align: center; */
    /* margin-left: 40px; */
    margin-top: 15px;
}

.border{
    height: 500px;
    width: 500px;
    display: block;
    justify-content: center;
    margin: 0px 400px;
    border-radius: 10px;
    top: 100px;
    border-color: transparent;
}

.submit{
    margin-top: 100px;
    padding-left: 80px;
    display: grid;
}

.btn-submit{
    border: none;
    padding: 15px 35px;
    background-color: #62c3d2;
    color: rgb(9, 9, 9);
    font-size: 20px;
    border-radius: 50px;
    transition: 0.4s all;
    margin-left: 225px;
}
